@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-website {
  background-color: #4FC0D0 !important;
}

.radio-online-icon{
  animation: radio-online-icon 2s linear infinite;
}
@keyframes radio-online-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: rgba(0, 0, 0, 0.6) !important
}

a:hover {
  cursor: pointer;
  color: blue;
  transition: .3s ease all;
  text-decoration: underline;
}
